// Colors
$banner-bg: #b670a9;
$off-white: #eed3ec;
$main-bg: #f1e1ee;
$card-bg: #42273d;
$main-other:#55324e; 
$button-bg:#c557c5;

// Sizes
$s-size: 1rem;
$m-size: 1.8rem;
$l-size: 3rem;
$xl-size: 3.2rem;
$desktop-breakpoint: 45rem;